# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Secrets
AudioFlix/Network/APIConfig.swift

# Misc
*.DS_Store
*.ipa
*.dSYM.zip
*.dSYM
